.carousel-item {
	height: 670px;
}

.carousel-item img {
	margin-top: -80px;
}

.carousel-item .display-4 {
	margin-top: -470px;
	color: yellow;
	text-shadow: 5px 5px 5px rgba(0,0,0,0.7);
}

.carousel-item p{
	color: yellow;
	text-shadow: 5px 5px 5px rgba(0,0,0,0.7);
}

.carousel-item hr {
	border-color: salmon;
	width: 70px;
	border-width: 3px;
}

.carousel-item .btn {
	background-color: salmon;
	border: none;
	border-radius: 25px;
	padding-right: 25px;
	padding-left: 25px;
	text-transform: uppercase;
	margin-top: 40px;
}